#root{
	display: flex;
	flex-wrap: wrap;
}

.todo{
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 5px 5px 10px black;
	margin: 10px;
}
.todo:hover{
	box-shadow: 5px 5px 20px black;
}