button{
    margin-top: 10px;

}
#colors{
    display: flex;
    flex-wrap: wrap;
}
.colorHex{
    margin: 10px;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #000;

}